
 @import '~antd/dist/antd.css';
 .ant-menuAd{
     background:	lightsteelblue	;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 60px;
     }
 .ant-menu-itemAd {
       color:#0a0a23;
       position: absolute;
       top: 8px;
       right: 16px;
       font-size: 15px;
       border-bottom-color: brown;
 }
 
 .ant-menu-itemAd.ant-menu-item-active:hover{
     border-bottom-color: brown;
     color:brown;
 
 }
 
 .ant-menu.ant-menu-light .ant-menu-item-selected {
             border-bottom-color: brown;
             background:beige	 ;
             color:brown;
 
 }

 
 
 
 
 