/*  .adherents-list{  
    
    width: 700px;
    
    justify-content: space-between;
    align-items: center;
    margin-top:20px;
    margin-bottom: 1000px;
    padding-top: 0px;
    text-align: center;
}  */ 
/* .tasks-list{
    margin-top:50px;
} */
.entete-tab{
    justify-content: space-between;
    display: flex;
    justify-content: flex-end;
    text-align: center ;
    padding-right: 550px;
    }
    /*.entete-tab{
       
      
       padding-right: 50px;
    } 
    .adherents-list.entete-tab {
        display: flex;
        justify-content: flex-end;
    }*/
    